<div class="divider"></div>
<footer id="footer">
  <div>
    <div class="footer-heading">Services</div>
    <ul>
      <li class="footer-subheading"> <a>Free Account</a></li>
      <li class="footer-subheading"> <a>Expert</a></li>
      <li class="footer-subheading"> <a>Statutory Report</a></li>
      <li class="footer-subheading"> <a>Log in</a></li>

    </ul>
  </div>

  <div>
    <div class="footer-heading">About </div>
    <ul class="about">
      <li class="footer-subheading"> <a>Why Us</a></li>
      <li class="footer-subheading"> <a>Our Brand Story</a></li>
      <li class="footer-subheading"> <a>Press</a></li>
      <li class="footer-subheading"> <a>Investor Relations</a></li>
      <li class="footer-subheading"> <a>Affiliate</a></li>

      <li class="footer-subheading"> <a>Careers</a></li>
      <li class="footer-subheading"> <a>Responsibilities</a></li>
      <li class="footer-subheading"> <a>Modern Slavery</a></li>
      <li class="footer-subheading"> <a>Contact us</a></li>
      <li class="footer-subheading"> <a>FAQs</a></li>
    </ul>

  </div>

  <div>
    <div class="footer-heading">Legal</div>
    <ul>

      <li class="footer-subheading"> <a>Terms & Conditions</a></li>
      <li class="footer-subheading"> <a>Data Privacy</a></li>
      <li class="footer-subheading"> <a>Cookies</a></li>
      <li class="footer-subheading"> <a>Marketing claims</a></li>
    </ul>

  </div>

  <div>
    <div class="footer-heading">Social</div>
    <ul>
      <li class="footer-subheading"> <a>Facebook - Like us</a></li>
      <li class="footer-subheading"> <a>Twitter - Follow us</a></li>
      <li class="footer-subheading"> <a>YouTube - Subscribe</a></li>
      <li class="footer-subheading"> <a>Marketing claims</a></li>
    </ul>

  </div>

</footer>