.st0 {
    fill: #1d4380;
}

.st1 {
    fill: #6b2570;
}

.st2 {
    fill: #0d65ac;
}

.st3 {
    fill: #de2e77;
}

.st4 {
    fill: #ffffff;
}

.st5 {
    fill: #575756;
    stroke: #575756;
    stroke-width: 0.5669;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #575756;
}

.st7 {
    fill: #ffdd00;
}

.st8 {
    fill: #7cb92a;
}

.st9 {
    fill: #f39120;
}

.st10 {
    fill: #009c41;
}

.st11 {
    fill: #d1151f;
}

.st12 {
    fill: none;
}

.st13 {
    font-family: 'Roboto';
}

.st14 {
    font-size: 40.7302px;
    font-weight: 500;
}

.st15 {
    font-size: 35px;
}
